.main-productList-container {
  background: beige;
  padding: 12px;
}
.productList-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  gap: 50px 0px;
}
.card {
  padding: 20px;
  text-align: center;
  width: 17em;
  align-items: center;
  margin-left: 55px;
  box-shadow: 2px 5px 20px grey;
  cursor: pointer;
}
.productList-filter > .btn:first-child {
  background-color: #ffc107;
  outline: white;
}
.productList-filter > .btn {
  background-color: #be0d40;
  outline: auto;
}
.productList-filter > .btn:hover {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
